.loginBox {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .3);
	display: flex;
	justify-content: center;
	align-items: center;


	.loginForm {
		width: 400px;
		height: 300px;
		background-color: #fff;
		padding: 30px;

		.header {
			display: flex;
			justify-content: space-between;
			.loginMode {
				font-size: 20px;
				font-weight: bold;
			}

			.closeBtn {
				font-size: 18px;
				margin-top: -8px;
				cursor: pointer;
			}
		}

		.verifyBox {
			position: relative;

			.getVerify {
				position: absolute;
				top: 15px;
				right: 8px;
				color: #1e80ff;
				cursor: pointer;
			}
		}

		.loginBtn {
			margin-top: 15px;
			width: 100%;
		}

		.otherLogin {
			margin: 15px 0 8px 0;
			font-size: 14px;
			color: #1e80ff;
			cursor: pointer;
		}

		.agreement {
			font-size: 14px;
		}

		input {
			margin: 10px 0;
		}
	}
}